#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/hero.webp");
    height: calc(100vh - 10rem);
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.gen-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .gen-card.image-card {
            display: none;
        }
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);

        .gen-card.image-card {
            display: block;
        }
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);

        .gen-card.image-card {
            display: none;
        }
    }

    .gen-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        background-image: url('../../assets/images/card-bg.jpg');
        transition: all 300ms ease-out;
        text-decoration: none;

        & h3 {
            font-size: 3rem;
            color: var(--pink-500);
            text-align: center;
            text-shadow: 2px 2px #000;
            z-index: 1;
        }

        & .dark-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            opacity: 0.6;
            transition: all 300ms ease-out;
        }

        &:hover {
            transform: scale(1.1);

            & .dark-overlay {
                opacity: 0.2;
            }
        }

        &.image-card {
            position: relative;
            background: none;

            & img {
                max-width: 100%;
                height: 70%;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &:hover {
                transform: none;
            }
        }
    }
}

#recommendations {
    & ol {
        list-style-position: inside;
    }
}