#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/hero.webp");
    height: calc(100vh - 10rem);
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    & h1 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.gen-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    .gen-card {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../assets/images/card-bg.jpg');
        transition: all 300ms ease-out;
        text-decoration: none;
        font-family: "Pixelify Sans", sans-serif;
        font-size: 3rem;
        color: var(--pink-500);
        text-shadow: 2px 2px #000;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#recommendations {
    & ol {
        list-style-position: inside;
    }
}