@import url('variables.css');

@import url('layouts/header.css');
@import url('layouts/footer.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: min(5vw, 2.4rem);
    line-height: 2em;
}

h1, h2 {
    text-align: center;
}

h1 {
    line-height: 2em;
    font-size: min(8vw, 6rem);
}

h2 {
    font-size: min(6vw, 5rem);
    line-height: 2em;
    color: var(--violet-900);
}

section {
    margin-bottom: 8rem;
}

a {
    color: var(--pink-500);
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.container {
    margin: 0 8%;
}

.upper {
    text-transform: uppercase;
}

::selection {
    background-color: var(--pink-500);
    color: var(--yellow-300);
}