.page-footer {
    display: flex;
    justify-content: flex-start;
    padding: 3rem 6rem;
    font-size: min(2vw, 1.8rem);
    line-height: 2em;
    background-color: var(--violet-900);
    color: var(--pink-500);
}