.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2rem 0;
    background-color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;

    & a {
        text-decoration: none;
    }
}